@page
@model Smm.ContohRazor.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DataKonsumen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataKonsumen.Id" />
            <div class="form-group">
                <label asp-for="DataKonsumen.NoKTP" class="control-label"></label>
                <input asp-for="DataKonsumen.NoKTP" class="form-control" />
                <span asp-validation-for="DataKonsumen.NoKTP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.TanggalLahir" class="control-label"></label>
                <input asp-for="DataKonsumen.TanggalLahir" class="form-control" />
                <span asp-validation-for="DataKonsumen.TanggalLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.JenisKelamin" class="control-label"></label>
                <input asp-for="DataKonsumen.JenisKelamin" class="form-control" />
                <span asp-validation-for="DataKonsumen.JenisKelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.Agama" class="control-label"></label>
                <input asp-for="DataKonsumen.Agama" class="form-control" />
                <span asp-validation-for="DataKonsumen.Agama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.Nama" class="control-label"></label>
                <input asp-for="DataKonsumen.Nama" class="form-control" />
                <span asp-validation-for="DataKonsumen.Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.NamaBPKB" class="control-label"></label>
                <input asp-for="DataKonsumen.NamaBPKB" class="form-control" />
                <span asp-validation-for="DataKonsumen.NamaBPKB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.AlamatTinggal" class="control-label"></label>
                <input asp-for="DataKonsumen.AlamatTinggal" class="form-control" />
                <span asp-validation-for="DataKonsumen.AlamatTinggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.AlamatKirim" class="control-label"></label>
                <input asp-for="DataKonsumen.AlamatKirim" class="form-control" />
                <span asp-validation-for="DataKonsumen.AlamatKirim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.Email" class="control-label"></label>
                <input asp-for="DataKonsumen.Email" class="form-control" />
                <span asp-validation-for="DataKonsumen.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataKonsumen.CreatedAt" class="control-label"></label>
                <input asp-for="DataKonsumen.CreatedAt" class="form-control" />
                <span asp-validation-for="DataKonsumen.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
